.leaderBotsActionsWrapper {
  .changeBotWrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    background-image: var(--primary-glow);
    background-color: rgb(var(--primary-first-rgb));
    box-shadow: var(--base-box-shadow);
  }
}
