.recommendedRunesForChampiionWrapper {
  padding: 1rem;

  &.show {
    margin: 0.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 1rem;
    box-shadow: var(--base-box-shadow);
    background: var(--primary-glow);
    background-color: rgb(var(--primary-first-rgb));
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .actions {
    display: flex;
    justify-content: space-evenly;
  }
  .runesChoiceWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    .runesRecommenedWrapper {
      display: flex;
      flex-direction: column;

      .runesKeystonesWrapper {
        display: flex;
      }
    }
    .changeRunesPositionWrapper {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
