.lobbysWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-height: 100%;
  position: relative;
}

.toggleLobbysButtonWrapper {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  & > button {
    width: 80%;
  }
}

.lobbysListWrapper {
  margin-bottom: 2dvh;

  box-shadow: var(--base-box-shadow);
  .lobbysContentWrapper {
    z-index: 1000;

    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    padding-top: 0;

    background-color: rgb(var(--primary-first-rgb));
    background-image: var(--primary-glow);
    min-height: 90%;
    max-height: 90%;
    overflow-x: hidden;

    box-shadow: var(--base-box-shadow);
    & > * {
      margin-top: 0.5rem;
    }

    .lobbysContent {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-grow: 1;
      & > button {
        min-width: 33%;
        max-width: 33%;
        height: 3em;
        margin: 0.1rem;
      }
    }
    .filterWrapper {
      z-index: 1000;
      background-color: rgb(var(--primary-first-rgb));
      background-image: var(--primary-glow);
      box-shadow: var(--base-box-shadow);
      min-height: 6dvh;
      max-height: 6dvh;
      align-items: center;
      display: flex;
      justify-content: center;
      position: sticky;
      top: 0;

      width: 100%;

      span {
        margin-right: 0.5rem;
      }
    }
  }
}

.lobbyActions {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .baseLobbyActions {
    max-height: 20%;

    .lobbyNameAndLeaveButton {
      display: flex;
      justify-content: space-around;
      button {
        width: 30%;
      }
    }
  }

  .lobbyActionsMembers {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}
